<html>
    <head>
        <meta charset="utf-8">

        <title>PUBG Circle Simulator</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link rel="stylesheet" href="assets/css/circle.css">

        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Brendan’s Churfect Configurator</h1>
        <form class="configurator" id="configurator">
            <fieldset class="configurator__group">
                <legend class="configurator__group-label">Map</legend>
                <select class="configurator__map-select" name="map">
                    {% for k, map in maps %}
                        <option
                            value="{{ k }}"
                            {% if map.disabled ?? false %}disabled{% endif %}>{{ map.name }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset class="configurator__group">
                <legend class="configurator__group-label">Circle Settings</legend>
                <table class="table">
                    <thead class="table__head">
                        <tr class="table__row">
                            <th class="table__header">Phase</th>
                            <th class="table__header">Delay</th>
                            <th class="table__header">Wait</th>
                            <th class="table__header">Move</th>
                            <th class="table__header">Shrink</th>
                            <th class="table__header">Spread</th>
                        </tr>
                    </thead>
                    <tbody class="table__body">
                        {% for phase in 0..8 %}
                            <tr class="table__row">
                                <th class="table__header">Phase {{ phase + 1 }}</th>
                                <td class="table__data">
                                    <input
                                        class="configurator__tabular-input"
                                        type="number"
                                        name="bz[{{ phase }}][delay]"
                                        min="0"
                                        step="1"
                                        value="120">
                                </td>
                                <td class="table__data">
                                    <input
                                        class="configurator__tabular-input"
                                        type="number"
                                        name="bz[{{ phase }}][wait]"
                                        min="0"
                                        step="1"
                                        value="120">
                                </td>
                                <td class="table__data">
                                    <input
                                        class="configurator__tabular-input"
                                        type="number"
                                        name="bz[{{ phase }}][move]"
                                        min="0"
                                        step="1"
                                        value="120">
                                </td>
                                <td class="table__data">
                                    <input
                                        class="configurator__tabular-input"
                                        type="number"
                                        name="bz[{{ phase }}][shrink]"
                                        min="0"
                                        max="1"
                                        step="0.01"
                                        value="0.5">
                                </td>
                                <td class="table__data">
                                    <input
                                        class="configurator__tabular-input"
                                        type="number"
                                        name="bz[{{ phase }}][spread]"
                                        min="0"
                                        max="1"
                                        step="0.01"
                                        value="0.5">
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
        </form>

        <div class="map">
            <canvas class="map__canvas" id="map"></canvas>
            <div class="map__stats">
                <div class="map__stat map__stat--duration" id="duration"></div>
                <div class="map__stat map__stat--end" id="butthole"></div>
                <div class="map__stat map__stat--inspector" id="coordinates"></div>
            </div>
        </div>

        <button class="configurator__shuffle" id="shuffle">Simulate</button>

        <script src="assets/js/circle.js" type="module"></script>
    </body>
</html>
